<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js" defer></script>
    <title>Similar Movies</title>
</head>
<body>
{{>nav}}
    <form>
        <label>
            <input type="text" placeholder="Movie Title">
        </label>
        <button>Search</button>
    </form>
<div class="movie"></div>
{{>footer}}
</body>
</html>